{% extends 'base.html.twig' %}
{% block fichier %}loginPage{% endblock %}
 {% block main %}
     <h1>Vous avez oublié votre mot de passe ?</h1>
     {% form_theme forgotPasswordForm 'forms/bootstrap_4_layout.html.twig' %}
     {{ form_start(forgotPasswordForm) }}
     {{ form_widget(forgotPasswordForm) }}
     {{ form_end(forgotPasswordForm) }}
 {% endblock %}

