{% extends 'base.html.twig' %}

{% block main %}

    {{form_start($profilForm)}}
    {{form_widget($profilForm)}}

    <button type="submit">Valider</button>
    {{form_end($profilForm)}}

{% endblock %}