<h1>Réinitialisez votre mot de passe</h1>

{{ form_start(resetPassworForm) }}
{{ form_widget(resetPassworForm) }}
<button class="btn btn-primary" type="submit">Réinitialiser</button>
{{ form_end(resetPassworForm) }}