{% extends 'base.html.twig' %}
{% block main %}
     <h1>Réinitialisez votre mot de passe</h1>

     {% form_theme resetPasswordForm 'forms/bootstrap_4_layout.html.twig' %}
     {{ form_start(resetPasswordForm) }}
     {{ form_widget(resetPasswordForm) }}
     {{ form_end(resetPasswordForm) }}
 {% endblock %}