<h1>Réinitialisez votre mot de passe</h1>

{{ form_start(resetPasswordForm) }}
{{ form_widget(resetPasswordForm) }}
<button class="btn btn-primary" type="submit">Réinitialiser</button>
{{ form_end(resetPasswordForm) }}