<nav class="navbar navbar-dark bg-dark">

    <a class="navbar-brand" href="{{path('home')  }}">Accueil</a>
    <a class="navbar-brand" href="{{ path('profile-affichage') }}">Mon profil</a>
    <a class="navbar-brand" href="{{path('main-logout')}}">Se déconnecter</a>
</nav>


