<nav class="navbar navbar-light bg-light">

    <a class="navbar-brand" href="">Accueil</a>
    <a class="navbar-brand" href="">Mon profil</a>
    <a class="navbar-brand" href="">Se déconnecter</a>
</nav>


