{% extends 'base.html.twig' %}
{% block fichier %}profil{% endblock %}

{% block main %}
    <h1>Importer des utilisateurs</h1>
    <p>Afin d'importer des utilisateurs, veuillez respecter le csv fourni, merci.</p>

    <a class="btn btn-success mb-3" href="{{ asset('files/participants.csv') }}" download>
        Télécharger
    </a>
    <form method="post" enctype="multipart/form-data">
        {{ form_start(usersForm) }}
        {{ form_widget(usersForm.file) }}
        <input type="submit" value="Importer" class="btn btn-success">
        {{ form_rest(usersForm) }}
    </form>
{% endblock %}