<html>
    <head>
        <link rel="stylesheet" href="../../public/css/affichageSortie.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


        <h2>Info sortie :  </h2>

            <div class="container">
                <div class="item" id="sortie_name">
                    <span  class=Nom de la sortie : 
                </div>
                <div class="item" id="lieu"> Lieu : </div>
                <div class="item" id="date_sortie">Date  et heure</div>
                <div class="item" id="rue"> rue</div>
                <div class="item" id="date_limite_inscription">Date limite d'inscription</div>
                <div class="item" id="ville_sortie">Ville</div>
                <div class="item" id="nb_place">Nombre de places</div>
                <div class="item" id="code_postal">Code postal</div>
                <div class="item" id="duration">Durée</div>
                <div class="item" id="latitude">Latitude</div>
                <div class="item" id="description">Description et info</div>
                <div class="item" id="longitude">Longitude</div>
            </div>