<html>
    <head>
        <link rel="stylesheet" href="../../public/css/affichageSortie.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <h1 class="titleSortie">Sortie </h1>
        <div class="infoSortie">
            <div class="row">
                <div class="col-md-6">
                    <span>Nom de la sortie : </span>
                </div>
                <div class="col-md-6"> Lieu : </div>
            </div>
            <div class="row">
                <div class="col-md-6">Date  et heure</div>
                <div class="col-md-6"> rue</div>
            </div>
            <div class="row">
                <span>Date limite d'inscription</span>
                <span>Ville</span>
            </div>
            <div class="row">
                <span>Nombre de places</span>
                <span>Code postal</span>
            </div>
            <div class="row">
                <span>Durée</span>
                <span>Latitude</span>
            </div>
            <div class="row">
                <span>Description et info</span>
                <span>Longitude</span>
            </div>
        </div>
    </body>
</html>