.item {
    width: 100%
}

.container {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 0 1px black;
    justify-content: center;
    background-color: white;
}

.container>div {
    flex: 50%;
    margin-bottom: none;
}

h2 {
    text-align: left;
}

h3 {
    text-align: center;
}

.card {
    opacity: 70%;
}

body {
    background-color: rgba(192, 200, 194, 1);
    margin-bottom: 50px;
}

.card>span {
    color: black
}

.displayed-data {
    font-weight: bolder;
}