<html>
    <head>
        <title>Projet sortir</title>
        <link rel="stylesheet" href="../templates/loginPage.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="logo">
            <img src="../templates/img/logoSortir.jpg" width="200" height="50">
        </div>
        <div class="form">
        {{ form_start(loginForm) }}
        {{ form_widget(loginForm) }}
        {{ form_end(loginForm) }}
    </div>
    </body>
</html>